#marsh-dusk {
    text-align: center;
}

#marsh-dusk-1 {
    background-color: #8AA399;
    color: white;
    text-align: center;
    padding: 24px;
}
#marsh-dusk-2 {
    background-color: #7D84B2;
    color: white;
    text-align: center;
    padding: 24px;
}

#marsh-dusk-3 {
    background-color: #8FA6CB;
    color: white;
    text-align: center;
    padding: 24px;
}

#marsh-dusk-4 {
    background-color: #DBF4A7;
    color: black;
    text-align: center;
    padding: 24px;
}

#marsh-dusk-5 {
    background-color: #D5F9DE;
    color: black;
    text-align: center;
    padding: 24px;
}

#techno-town {
    text-align: center;
}

#techno-town-1 {
    background-color: #07004D;
    color: white;
    text-align: center;
    padding: 24px;
}

#techno-town-2 {
    background-color: #2D82B7;
    color: white;
    text-align: center;
    padding: 24px;
}

#techno-town-3 {
    background-color: #42E2B8;
    color: white;
    text-align: center;
    padding: 24px;
}

#techno-town-4 {
    background-color: #F3DFBF;
    color: black;
    text-align: center;
    padding: 24px;
}

#techno-town-5 {
    background-color: #EB8A90;
    color: white;
    text-align: center;
    padding: 24px;
}

#haze {
    text-align: center;
}

#haze-1 {
    background-color: #4B3B47;
    color: white;
    text-align: center;
    padding: 24px;
}

#haze-2 {
    background-color: #6A6262;
    color: white;
    text-align: center;
    padding: 24px;
}

#haze-3 {
    background-color: #9C9990;
    color: white;
    text-align: center;
    padding: 24px;
}

#haze-4 {
    background-color: #CFD2B2;
    color: white;
    text-align: center;
    padding: 24px;
}

#haze-5 {
    background-color: #E0D8DE;
    color: black;
    text-align: center;
    padding: 24px;
}